<!-- <meta charset="utf-8" /> -->
<!-- <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/> -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
<!-- <meta name="description" content="" /> -->
<!-- <meta name="author" content="" /> -->
<!-- <meta charset="ISO-8859-1"> -->
<title>Proyecto Spring</title>

<!-- Bootstrap Core CSS -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<!-- Custom CSS -->
<link th:href="@{/css/logo-nav.css}" rel="stylesheet" />
<link th:href="@{/css/vue-multiselect.min.css}" rel="stylesheet" />


<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether-theme-arrows-dark.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script th:inline="javascript">
	var contextRoot = /*[[@{/}]]*/'';
</script>
